/* How To Include Toast */
/* 
1. add _custom_toast class to element
   add data-toast-message="<Message Here>" attribute to element

2. Toast HTML 
    <div id="custom-toast-body"></div>
*/

#custom-toast-body {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    font-weight: 600;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 9999;
    /* for animation from bottom */
    /* left: 50%;
    bottom: 30px; */
    /* for animation from top */
    right: 50%;
    top: 15%;
    transform: translateX(50%);
}

#custom-toast-body.show {
    visibility: visible;
    /* Add animation:
    Take 0.5 seconds to fade in and out the custom-toast-boy. 
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* animation from top */
@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 15%;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 15%;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 15%;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 15%;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}

/* animation from bottom */
/* @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}
  
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
  
@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}
  
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
} */